---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<!-- {{ "# Full list of publications " | markdownify }} -->
{{ "(<sup>*</sup>:equal contribution) " | markdownify }}


{{ "## Preprints" | markdownify }}

{% assign pubs = site.publications | where_exp: "item", "item.path contains 'arxiv/'" | sort: 'date' | reverse %}
{% for pub in pubs %}
{{ pub.content | markdownify }}
{% endfor %}




{{ "## Published Papers" | markdownify }}

{% assign pubs = site.publications | where_exp: "item", "item.path contains 'published/'" | sort: 'date' | reverse %}
{% for pub in pubs %}
{{ pub.content | markdownify }}
{% endfor %}





